---
import BaseLayout from "../../components/BaseLayout.astro";
import Card from "../../components/Card.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---
<BaseLayout>
    <div class="container">
        <!-- {
             allPosts.map(function(post:any){
                return <h2>{post.frontmatter.title}</h2>
            })
        } -->
        {

            allPosts.map((post:any) => <Card url={post.url} data={post.frontmatter}></Card>)
        }
    </div>
</BaseLayout>
<style>
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
    }
</style>