---
import BaseLayout from "../../components/BaseLayout.astro";
---


<BaseLayout>
    <ul>
        <li><a href="/blog/posts/001">001</a></li>
        <li><a href="/blog/posts/002">002</a></li>
    </ul>
</BaseLayout>