---
import Navigator from './Navigator.astro'
import '../styles/style.css'
import { ClientRouter } from 'astro:transitions';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="/styles/style.css"> -->
     <ClientRouter />
</head>
<body>
    <Navigator></Navigator>
    <main>
        <!-- 插槽 -->
        <slot></slot>
    </main>
    <footer>
        2025 &copy; All Rights Reserved.
    </footer>
</body>
</html>