---
const {url, data} = Astro.props
---
<div>
    <div>
        <img src=`images/${data.hero.src}` alt={data.hero.alt}>
    </div>
    <div>{data.title}</div>
    <a href={url}>繼續閱讀</a>
</div>
<style>
    img {
        width: 100%;
    }
</style>