---
import BaseLayout from "./BaseLayout.astro";
import Btn from "./Btn.astro";
import '../styles/markdown.css'
const {frontmatter} = Astro.props
---
<BaseLayout>
    <div>
        <img src=`/images/${frontmatter.hero.src}` alt={frontmatter.hero.alt}>
    </div>
    <h1>{frontmatter.title}</h1>
    <div><small>{frontmatter.pubDate.slice(0,10)}</small></div>
    <slot></slot>
    <!-- <a href="/blog">文章列表</a> -->
    <Btn url="/blog" text="文章列表" />
</BaseLayout>